<div class="form-group">
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true, class: "form-control"  %></div>
</div>
<div class="form-group">
  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :autofocus => true, class: "form-control"  %></div>
</div> 
<div class="form-group">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class: "form-control" %></div>
</div>
<div class="form-group">
  <div><%= f.label :date_of_birth, "Date of birth (mm/dd/yyyy format)" %><br />
  <%= f.date_field :date_of_birth, :autofocus => true, class: "form-control"  %></div>
</div>
<div class="form-group">
	<div><%= f.label :is_female, 'Gender' %><br />
  <%= f.select(:is_female, [['Female',true], ['Male',false]], {:selected => (@user.is_female?)}, {class: "form-control"}) %></div>
</div>
<div class="form-group">
  <div>
    <%= f.label :church %><br />
    <%= f.collection_select :church, User::CHURCHES, :to_s, :to_s, {:include_blank => true}, {class: "form-control"} %>
  </div>
  <i>If you are looking for a church checkout <a href="http://www.faithstreet.com">www.faithstreet.com</a></i>
</div>
<div class="form-group">
  <div>
    <%= f.label :church_status %><br />
    <%= f.select(:church_status, ['','Looking for a church','Visiting churches','Attend when I can','Attend regularly','Member (0-2 yrs)','Member (3-5 yrs)','Member (5+ yrs)','In leadership (0-2 yrs)','In leadership (3-5 yrs)','In leadership (5+ yrs)','Pastor'], {:selected => (@user.church_status)}, {class: "form-control"}) %>
  </div>
</div>
<div class="form-group">
  <div>
    <%= f.label :neighborhood %><br />
    <%= f.collection_select :neighborhood, User::NEIGHBORHOODS, :to_s, :to_s, {:include_blank => true}, {class: "form-control"} %>
  </div>
</div>
<div class="form-group">
  <div><%= f.label :interests %><br />
  <%= f.text_area :interests, :autofocus => true, class: "form-control"  %></div>
</div>
<div class="form-group">
  <div><%= f.label :testimony, 'Whats your experience been being a believer in the city?' %><br />
  <%= f.text_area :testimony, :autofocus => true, class: "form-control", row: "5"  %></div>
</div>
<div class="form-group">
  <div><%= f.label :more_info, 'What brought you to the city?' %><br />
  <%= f.text_area :more_info, :autofocus => true, class: "form-control", row: "5"   %></div>
</div>
<div class="form-group">
  <div><%= f.label :cellphone, 'Cellphone (###-####-### format)' %><br />
  <%= f.text_field :cellphone, :autofocus => true, class: "form-control"  %></div>
  <i>Kept private, for verfication purposes only</i>
</div>
<div class="form-group">
  <div><%= f.label :status %><br />
    <%= f.select(:status, ['','Single - up for making friends','Single - looking to mingle','Single - seeing someone','In relationship','Married'], {:selected => (@user.status)}, {class: "form-control"}) %>
  </div>
</div>
<div class="form-group">
  <div>
    <%= f.label :dating_pref, 'What are you looking for in a relationship? (if single)' %><br />
    <%= f.text_area :dating_pref, :autofocus => true, class: "form-control"  %>
  </div>
</div>
<div class="form-group">
  <div><%= f.label :height %><br />
    <%= f.select(:height, [['na', 0],['5-0 or less', 60],['5-1', 61],['5-2', 62],['5-3', 63],['5-4', 64],['5-5', 65],['5-6', 66],['5-7', 67],['5-8', 68],['5-9', 69],['5-10', 70],['5-12', 71],['6-0', 72],['6-1', 73],['6-2', 74],['6-3', 75],['6-4', 76],['6-6 or more', 78]], {:selected => (@user.height)}, {class: "form-control"}) %>
  </div>
</div>


